@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
   font-family: 'Space Grotesk', sans-serif;
}
.container{
    position: relative;
    display: flex;
    align-items:center ;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
  }
  
  .container .box{
    position: relative;
    width: 450px;
    height: 550px;
    background: rgba(35, 35, 35, 0.5);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 75px 20px rgba(113, 115, 119, 0.5);
    border: #a89999a3 solid 1px;
  }

  .inputBox{
    height: 20%
  }
  
  .inputField {
	appearance: none;
  font-size: 20px;
  height: 60%;
  width: 80%;
  margin: 20px;
	border: none;
	outline: none;
	border-bottom: .2em solid #ebeb6b;
	background: transparent;
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: aliceblue;
  box-shadow: 0px 5px 15px rgba(113, 115, 119, 0.1);
}

h1,h2,h3{
  color: rgb(210, 198, 245);
  margin: 60px 0px;
}

.cityInfo h1{
  font-size: 50px;
}

.cityInfo h2{
  font-size: 30px
}